{% extends "base.html" %}
{% block main %}
<section id="main" class="index">
  <div class="post_list container">
    {% for post in paginator.pages %}
    <article class="post content">
      <time datetime="{{ post.date | date(format="%+") }}" class="date">{{ post.date | date(format="%a, %b %d, %Y") }}</time>
      <h3 class="title">
        <a href="{{ post.permalink }}" title="{{ post.title }}">{{ post.title }}</a>
      </h3>
      <div class="post_content summary">
        {{ post.summary | safe }}
      </div>
    </article>
    {% endfor %}
{% set simple = section.path == "/" %}
{% if paginator and paginator.number_pagers > 1 %}
<div class="pagination">
  <ul class="pagination_container">
        {% if paginator.previous %}
          <li class="page-item prev to-left">
            <a href="{{ paginator.previous }}" aria-label="Previous" class="page-link">
              <span aria-hidden="true">❮ Prev</span>
            </a>
          </li>
        {% endif %}
        {% if paginator.next %}
          <li class="page-item next to-right">
            <a href="{{ paginator.next }}" aria-label="Next" class="page-link">
              <span aria-hidden="true">Next ❯</span>
            </a>
          </li>
        {% endif %}
  </ul>
</div>
{% endif %}
  </div>
</section>
{% endblock main %}
